<div class="container">	
	<h1>New shared session</h1>
	<div class="spacer"></div>
	<%= render 'form', sharesesh: @sharesesh %>
	<div class="spacer"></div>
	<%= link_to 'Back', shareseshes_path %>
</div>