<div class="container">	
	<div class="row>">
	    <div class="offset-md-4 col-md-8">
			<h1>New shared session</h1>
			<div class="spacer"></div>
			<%= render 'form', sharesesh: @sharesesh %>
			<div class="spacer"></div>
			<%= link_to 'Back', shareseshes_path %>
		</div>
	</div>
</div>