<div class="container">
	<h1>Make changes to your session</h1>

	<div class="spacer"></div>

	<%= render 'form', privsesh: @privsesh %>

	<div class="spacer"></div>

	<%= link_to 'Show', @privsesh %> |
	<%= link_to 'Back', privseshes_path %>
</div>
