<div class="container">
	<h1>Create a new Sesh!</h1>

	<div class="spacer"></div>

	<%= render 'form', privsesh: @privsesh %>

	<div class="spacer"></div>

	<%= link_to 'Back', privseshes_path %>
</div>