<div class="inner cover">
	<% if user_signed_in? %>
		<h2 class="cover-heading">Your seshlog is active</h2>
		<p class="lead">Every journey begins with a session.</p>
		<p class="lead">
			<%= link_to "See your dashboard", privseshes_path, class: "btn btn-primary" %>
		</p>
	<% else %>
		<h1 class="cover-heading">Start logging your sessions.</h1>
		<h3 class="lead">Every journey begins with a session.</h3>
		<p class="lead">
			<%= link_to "Start your Seshlog", new_user_registration_path, class: "btn btn-primary" %>
		</p>
	<% end %>
</div>