<div class="inner cover">
	<% if user_signed_in? %>
		<h1 class="cover-heading">Your seshlog is active</h1>
		<p class="lead">Every journey begins with a session.</p>
		<p class="lead">
			<a href="#" class="btn btn-lg btn-secondary">See dashboard</a>
		</p>
	<% else %>
		<h1 class="cover-heading">Log your sessions</h1>
		<p class="lead">Every journey begins with a session.</p>
		<p class="lead">
			<%= link_to "Start your seshlog", new_user_registration_path, class: "btn btn-lg btn-secondary" %>
		</p>
	<% end %>
</div>