.card-block {
	background-color: #ffffff;
	text-align: left;
}
.card-subtitle {
	line-height: 1.7em;
}
.form-inline {
	text-align: left;
}
.form-inline label {
	margin-left: 5px;
	margin-right: 20px;
}
.form-group {
	margin-top: 2rem;
}