.validation_error {
	text-transform: bold;
	text-align: left;
	font-size: 1.2em;
}
.error_container {
	background-color: #ffffff;
	border: 2px solid #ff33cc;
	border-radius: 0.25rem;
	padding:15px;
	margin-bottom: 30px;
}