.body-home {
	background: url(image_path('cover-bg.jpg')) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.inner-tophome{
	background-color: transparent;
}
.inner-toppage{
	background-color: #ff6600;
	padding-bottom: 3.5rem;
}
.cover-heading {
	color: rgba(44,62,80,1);
	line-height: 1.5em;
}
.lead {
	color: rgba(44,62,80,1);
	padding-bottom: 30px;
}
.container-show {
	text-align: left;
}
.container-right {
	float: right;
}
.spacer {
	margin:0;
	padding:0;
	height:20px;
}